# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEA
*.claude/*
*.trae
*.idea
*.DS_Store

*.vscode/docs/*
*.vscode/docs
*.opencode
*.amazonq
*.trae
*openspec
*AGENTS.md
*opencode.json
*CLAUDE.md

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# backup
*bak
*backup

# Dependency directories (remove the comment below to include it)
vendor/

# bin
bin/*
!bin/protoc*

# data
data/*

# logs
logs/*

# protobuf
api/**/*.go
api/**/*.json
api/**/*.yaml
api/*.json

# config
config/*
!config/.empty
config-*
!config-example

# cmd
cmd/**/__debug_*
cmd/**/data/
cmd/**/init-data/
cmd/**/logs/

# backend test
backend/test/go-test/*
backend/test/e2e/*
backend/test/config.json

.agent/*

/backend/enterprise/
/backend/internal/market/app/enterprise_hooks.go
.gitnexus
